.avatar {
    vertical-align: middle;
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }

  .row{
    
    padding: 10px;
  }
  .row:hover {
      box-shadow: 0 0 6px rgba(33,33,33,.5); 
      padding: 10px;
    }

    ol {
      margin:0 0 1.5em;
      padding:0;
      counter-reset:item;
    }
     
    ol>li {
      margin:0;
      padding:0 0 0 2em;
      text-indent:-2em;
      list-style-type:none;
      counter-increment:item;
    }
     
    ol>li:before {
      display:inline-block;
      width:1.5em;
      padding-right:0.5em;
      font-weight:bold;
      text-align:right;
      content:counter(item) ".";
    }
  