<div class="container" style="text-align: center; margin-top: 1%;margin-bottom: 1%;">
        <div class="row" style="border: solid green 1px;">
                <div class="col-md-4" align="left">
                    <img src="assets/noprofile_lg.gif" style="box-shadow: 5px 5px 2px;" alt="Avatar" class="avatar">
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-3" style="text-align: center;">
                        <p align="left">    
                        <b>Raj Kumar Maurya</b><br>
                        Opp BSF Camp Badsahpur Sec 67<br>
                        Gurgaon, Haryana<br>
                        9818515510<br>
                        rajkm1920@rediffmail.com
                    </p>

                </div>
                
              </div>

              <div class="row" style="border: solid green 1px;">
                    <div class="col-md-12" align="left">
                            <b>Overview :</b>
                            <p>
                                    Driven guidance counselor with 10+ years’ experience teaching and advising high school students. Fluent in Spanish; skilled at communicating and developing relationships with ESL students and their families. Developing knowledge of American Sign Language. Excellent written and oral communication skills.
                            </p>
                    </div>
                    
                  </div>

                  <div class="row" style="border: solid green 1px;">
                        <div class="col-md-12" align="left">
                                <b>Employement details :</b>
                                <p>
                                        Driven guidance counselor with 10+ years’ experience teaching and advising high school students. Fluent in Spanish; skilled at communicating and developing relationships with ESL students and their families. Developing knowledge of American Sign Language. Excellent written and oral communication skills.
                                </p>
                        </div>
                        
                      </div>
                      <div class="row" style="border: solid green 1px;">
                            <div class="col-md-12" align="left">
                                    <b>Technical Skills :</b>
                                    <p>
                                            Driven guidance counselor with 10+ years’ experience teaching and advising high school students. Fluent in Spanish; skilled at communicating and developing relationships with ESL students and their families. Developing knowledge of American Sign Language. Excellent written and oral communication skills.
                                    </p>
                            </div>
                            
                          </div>
                          <div class="row" style="border: solid green 1px;">
                                <div class="col-md-12" align="left">
                                        <b>Education :</b>
                                        <p>
                                                Driven guidance counselor with 10+ years’ experience teaching and advising high school students. Fluent in Spanish; skilled at communicating and developing relationships with ESL students and their families. Developing knowledge of American Sign Language. Excellent written and oral communication skills.
                                        </p>
                                </div>
                                
                              </div>
                              <div class="row" style="border: solid green 1px;">
                                    <div class="col-md-12" align="left">
                                            <b>Personal Details :</b>
                                            <p>
                                                    Driven guidance counselor with 10+ years’ experience teaching and advising high school students. Fluent in Spanish; skilled at communicating and developing relationships with ESL students and their families. Developing knowledge of American Sign Language. Excellent written and oral communication skills.
                                            </p>
                                    </div>
                                    
                                  </div>
                                  <div class="row" style="border: solid green 1px;">
                                        <div class="col-md-3" align="left">
                                                <b>{{ today | date :'dd-MM-yyyy'}}</b>
                                               
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-md-3" align="right">
                                                <b>Raj Kumar Maurya </b>
                                        </div>
                                      </div>

</div>
