<div class="container" style="text-align: center; margin-top: 1%;margin-bottom: 1%;">
                <div class="row" > <div class="col-md-12" align="right">  <button class="btn btn-primary" >Home</button></div>     </div>
        <div class="row" >
                        
                <div class="col-md-4" align="left">

                    <!---assets/noprofile_lg.gif-->
                    <img src="assets/profile-pic.jpg" style="box-shadow: 5px 5px 2px;" alt="Avatar" class="avatar">
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-3" style="text-align: center;">
                        <p align="left">    
                        <b>Raj Kumar Maurya</b><br>
                        Opp BSF Camp Badsahpur Sec 67<br>
                        Gurgaon, Haryana<br>
                        9818515510<br>
                        rajkm1920@rediffmail.com
                    </p>

                </div>
                
              </div>

              <div class="row" >
                    <div class="col-md-12" align="left">
                            <b>Career Objective :</b>
                            
                                    To acquire a position that utilizes my software development and project analysis in the contribution to the overall productivity of the organization.
                            
                    </div>
                    
                  </div>
                  <div class="row" >
                        <div class="col-md-12" align="left">
                                <b>Profession Summary :</b>
                                
                                        Working as a Full Stack Developer at Picsaxis Technologies Pvt. Ltd having {{completedate}} of IT experience
                                
                        </div>
                        
                      </div>

                  <div class="row" >
                        <div class="col-md-12" align="left">
                                <b>  Technical Skill Set: :</b>
                                    <ul>
                                        <li><b>Languages : </b> Java</li>
                                        <li><b>Frameworks : </b>Spring Framework, Spring Boot</li>
                                        <li><b>Tools : </b>Eclipse, Visual Code, Bitbucket</li>
                                        <li><b>Databases : </b>My SQL, MongoDB</li>
                                    </ul>
                                </div>
                        
                      </div>
                      <div class="row" >
                            <div class="col-md-12" align="left">
                                    <b>Education Qualifications :</b>
                                    <ul>
                                            <li>Master of Computer Application from Galgotia Educational Institutions, in 2016.</li>
                                            <li>Bachelor of Computer Application from Kanpur University, in 2014.</li>
                                        </ul>
                            </div>
                            
                          </div>
                          <div class="row" >
                                <div class="col-md-12" align="left">
                                        <b>Projects Undertaken :</b>
                                        
                                            <ol >
                                            <li><b>Project Name : </b>GSTTm Solution<br>
                                                <b>Technologies : </b>Spring boot MVC Security, My SQL, JPA, JQuery .<br>
                                                <b>Role : </b>Application Developer (Web and APIs)<br>
                                                <b>Description : </b>
                                                <ul>
                                                        <li>This application has been designed and developed for small and medium enterprises.</li>
                                                        <li>Customer can use this application to maintain their monthly, quarterly and yearly GST compliance by using GSTtm platform.</li>
                                                        <li>Customers can submit their invoices (sale and purchase) on this platform for processing of the same as per GST laws of govt of India.</li>
                                                        <li>Customer can manage their payment through real time payment via payment gateway and GSTtm platform wallet.</li>
                                                        <li>This platform also provides customer support on various services like GSTIN registration, Aadhar registration, queries of customer with chat services with our Web & App product.</li>
                                                </ul>
                                            </li>
          
                                                <li><b>Project Name : </b>EZ Track<br>
                                                    <b>Technologies : </b>Spring MVC, My SQL, JQuery, JsChart, JSTL, Angular.JS<br>
                                                    <b>Role : </b>Application Developer<br>
                                                    <b>Description : </b>
                                                    <ul>
                                                            <li>This application has been designed for sales and marketing executive for reporting of their sales on real time basis.</li>
                                                            <li>The leadership of the organization can view real time customized analytics using the data collected from sales team.</li>
                                                            <li>This application provides the guidelines to plan their business goals and targets basis on the reporting</li>
                                                            <li>Since this application is used by multiple departments and multiple level of hierarchy, so access is also controlled basis on the role and department of the user.</li>
                                                            <li>Also, sales team can manage their doctors, hospitals and deals using this application.</li>
                                                    </ul>
                                                </li>
                                            
                                                <li><b>Project Name : </b>ATS<br>
                                                    <b>Technologies : </b>Spring MVC, MySQL Workbench, Angular js<br>
                                                    <b>Role : </b>Application Developer<br>
                                                    <b>Description & Responsibilities: </b>
                                                    <ul>
                                                            <li>This application was built for a platform for recruitment process and has real time tracking of the applicants for recruiters, employers and Partners.</li>
                                                            <li>This application was designed with access control mechanism for various groups.</li>
                                                            <li>It helped to manage the complete recruitment cycle from creating profiles for various user groups (recruiters, employers and Partners), taking job orders and sourcing applicants through to candidate selection, submission, Real Time Tracking of applicants and on boarding.</li>
                                                            <li>Some of the below mentioned key objectives will be achieved with ATS implementation.

                                                                <ul>
                                                                                <li>All Applicants’ Information in a Single Location</li>
                                                                                <li>Accessible by Recruiting Staff in All Locations</li>
                                                                                <li>Eliminates Redundant Data Entry and quality data controls through super admin
                                                                                                management</li>
                                                                                <li>Facilitates Information Sharing between various stakeholders.</li>
                                                                                <li>A Web-based Solution working on various web browsers.</li>

                                                                </ul>
                                                            </li>
                                                            
                                                    </ul>
                                                </li>
                                            
                                                        <li><b>Project Name : </b>MyCareClinic<br>
                                                            <b>Technologies : </b>Struts 2, MySql, Java<br>
                                                            <b>Role : </b>Application Developer<br>
                                                            <b>Description & Responsibilities: </b>
                                                            <ul>
                                                                    <li>This application was designed to book online appointment and view appointment number.</li>
                                                                    <li>Patient could access Prescription and uploaded document.</li>
                                                                    <li>Admin could also add the Speciality and add doctor associated with speciality</li>
                                                                    <li>Doctor login and set availability slot and days for the patient can check the specialty based doctor availability.</li>
                                                 
                                                                    
                                                            </ul>
                                                        </li>
                                                    </ol>
                                </div>
                                
                              </div>
                              <div class="row" >
                                    <div class="col-md-12" align="left">
                                            <b>Personal Details :</b>
                                            <p>
                                                    Driven guidance counselor with 10+ years’ experience teaching and advising high school students. Fluent in Spanish; skilled at communicating and developing relationships with ESL students and their families. Developing knowledge of American Sign Language. Excellent written and oral communication skills.
                                            </p>
                                    </div>
                                    
                                  </div>
                                  <div class="row" >
                                        <div class="col-md-3" align="left">
                                                <b>{{ today | date :'dd-MM-yyyy'}}</b>   
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-md-3" align="right">
                                                <b>Raj Kumar Maurya </b>
                                        </div>
                                      </div>
</div>
