<div class="container" style="text-align: center; margin-top: 1%;margin-bottom: 1%;">
        <div class="row" >
                <div class="col-md-4" align="left">

                    <!---assets/noprofile_lg.gif-->
                    <img src="assets/profile-pic.jpg" style="box-shadow: 5px 5px 2px;" alt="Avatar" class="avatar">
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-3" style="text-align: center;">
                        <p align="left">    
                        <b>Raj Kumar Maurya</b><br>
                        Opp BSF Camp Badsahpur Sec 67<br>
                        Gurgaon, Haryana<br>
                        9818515510<br>
                        rajkm1920@rediffmail.com
                    </p>

                </div>
                
              </div>

              <div class="row" >
                    <div class="col-md-12" align="left">
                            <b>Career Objective :</b>
                            
                                    To acquire a position that utilizes my software development and project analysis in the contribution to the overall productivity of the organization.
                            
                    </div>
                    
                  </div>
                  <div class="row" >
                        <div class="col-md-12" align="left">
                                <b>Profession Summary :</b>
                                
                                        Working as a Full Stack Developer at Picsaxis Technologies Pvt. Ltd having 2 years 10 months of IT experience
                                
                        </div>
                        
                      </div>

                  <div class="row" >
                        <div class="col-md-12" align="left">
                                <b>  Technical Skill Set: :</b>
                                    <ul>
                                        <li><b>Languages : </b> Java</li>
                                        <li><b>Frameworks : </b>Spring Framework, Spring Boot</li>
                                        <li><b>Tools : </b>Eclipse, Visual Code, Bitbucket</li>
                                        <li><b>Databases : </b>My SQL, MongoDB</li>
                                    </ul>
                                </div>
                        
                      </div>
                      <div class="row" >
                            <div class="col-md-12" align="left">
                                    <b>Education Qualifications :</b>
                                    <ul>
                                            <li>Master of Computer Application from Galgotia Educational Institutions, in 2016.</li>
                                            <li>Bachelor of Computer Application from Kanpur University, in 2014.</li>
                                        </ul>
                            </div>
                            
                          </div>
                          <div class="row" >
                                <div class="col-md-12" align="left">
                                        <b>Projects Undertaken :</b>
                                        
                                            <ol >
                                            <li><b>Project Name : </b>Driven guidance  experience teaching  ESL students and their families. Developing .<br>
                                                <b>Technologies: : </b>Driven guidance  experience teaching  ESL students and their families. Developing .<br>
                                                <b>Project Name : </b>Driven guidance  experience teaching  ESL students and their families. Developing .<br>
                                            </li>
                                        </ol>
                                </div>
                                
                              </div>
                              <div class="row" >
                                    <div class="col-md-12" align="left">
                                            <b>Personal Details :</b>
                                            <p>
                                                    Driven guidance counselor with 10+ years’ experience teaching and advising high school students. Fluent in Spanish; skilled at communicating and developing relationships with ESL students and their families. Developing knowledge of American Sign Language. Excellent written and oral communication skills.
                                            </p>
                                    </div>
                                    
                                  </div>
                                  <div class="row" >
                                        <div class="col-md-3" align="left">
                                                <b>{{ today | date :'dd-MM-yyyy'}}</b>   
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-md-3" align="right">
                                                <b>Raj Kumar Maurya </b>
                                        </div>
                                      </div>
</div>
